## This notebook records some of the tricks I have learnt from work and study with Python

## String manipulation

In [1]:
import pandas as pd
import numpy as np

In [7]:
P_df = pd.DataFrame({'VEH_INFO' : ['Coupe XP 4S','Sedan XLT 4cylinder','PICKUP EXTRA','SEDAN XL LT','COUPE 4_cyl SE','pickup XST','Wagon SET 4wd'], 'Value':[100,200,300,400,500,600,700]})
P_df

              VEH_INFO  Value
0          Coupe XP 4S    100
1  Sedan XLT 4cylinder    200
2         PICKUP EXTRA    300
3          SEDAN XL LT    400
4       COUPE 4_cyl SE    500
5           pickup XST    600
6        Wagon SET 4wd    700

In [8]:
# I wanted to find out the vehicle style of each obervation, either coupe, or sedan or pickup or something else

In [9]:
# Define a function to identify if a keyword is contained:
def VEH_STYLE_FN(DAT):
    DAT = pd.Series(DAT)
    if int(DAT.str.contains('COUPE')) ==1:
        return('COUPE')
    if int(DAT.str.contains('PICKUP')) ==1:
        return('PICKUP')
    if int(DAT.str.contains('SEDAN')) ==1:
        return('SEDAN')
    else: return('OTHERS')

In [11]:
P_df['STYLE'] = P_df['VEH_INFO'].str.split(' ').apply(lambda x: str(x).upper()).apply(lambda x: VEH_STYLE_FN(x))
P_df

              VEH_INFO  Value   STYLE
0          Coupe XP 4S    100   COUPE
1  Sedan XLT 4cylinder    200   SEDAN
2         PICKUP EXTRA    300  PICKUP
3          SEDAN XL LT    400   SEDAN
4       COUPE 4_cyl SE    500   COUPE
5           pickup XST    600  PICKUP
6        Wagon SET 4wd    700  OTHERS