## This is the scripts as a summary of Emre Rencberoglu's article published on Towards Data Science.

import numpy as np
import pandas as pd### Feature Engineering Techniques (Basics)
##### Summarized on April 6th 2022  by PPT

In [20]:
import numpy as np
import pandas as pd

In [30]:
from sklearn.datasets import load_iris
df_iris = pd.DataFrame(data= np.c_[load_iris()['data'], load_iris()['target']],
                     columns= load_iris()['feature_names'] + ['target'])
df_iris['target'] = df_iris['target'].astype(str)
dict_iris = {'0.0':'A','1.0':'B','2.0':'C'}

df_iris.replace({"target": dict_iris},inplace=True)
df_iris.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,A
1,4.9,3.0,1.4,0.2,A
2,4.7,3.2,1.3,0.2,A

In [21]:
from sklearn import datasets
boston_data = datasets.load_boston()
df_boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df_boston['target'] = pd.Series(boston_data.target)
df_boston.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7

#### Imputation

In [22]:
threshold = 0.7

# Dropping columns with missing value rate higher than threshold
df_iris = df_iris[df_iris.columns[df_iris.isnull().mean() < threshold]]

# Dropping rows withbmissing value rate higher than threshold
df_iris = df_iris.loc[df_iris.isnull().mean(axis = 1) < threshold]

In [43]:

# df_iris5 = df_iris.iloc[0:6,:].copy()
# df_iris5.iloc[2,1] = np.nan
# df_iris5.iloc[1,3] = np.nan
# df_iris5

In [44]:
# Filling all missing values with 0

df_iris = df_iris.fillna(0)

# Filling missing values with medians of the columns
df_iris5 = df_iris.fillna(df_iris.median())